<!-- When medium screen -->
<!-- When medium screen -->
<!-- When medium screen -->
<!-- When medium screen -->

<div class="sc-a-title-4-card-hover-links d-none d-md-block">
  {{ if (isset .Params "main_title") }}
  <h2 class="text-center">{{.Get "main_title"}}</h2>
  {{ end }}
  <div class="sc-cards-container xd-flex xjustify-content-between">
    <div class="row">
      <div class="col-md-3 p-0 pr-3">
        <!-- First card -->
        <div>
          <a href="{{.Get "link_1"}}" class="p-2 body-color">
          {{ if (isset .Params "img_src_1") }}
          <figure>
            <img img_src_1 src="{{.Get ""}}" alt="{{.Get "img_alt_1"}}">
          </figure>
          {{ end }}

          {{ if (isset .Params "icon_1") }}
          <div class="icon text-left pl-2">
            <i class="{{.Get "icon_1"}} fa-3x my-4"></i>
          </div>
          {{ end }}
          <div class="sc-card-body pl-2 pr-2">
            {{ if (isset .Params "tag_line_1") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_1"}}</span>
            {{ end }}
            <h5 class="mt-2">
              {{.Get "link_title_1"}}
            </h5>
            {{ if (isset .Params "tag_line_btm_1") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_1"}}</span>
            {{ end }}
          </div>
          <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
            {{.Get "link_content_1"}}
            <i class="fa fa-arrow-right ml-auto"></i>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 p-0 pr-3">
        <!-- Second card -->
        <div>
          <a href="{{.Get "link_2"}}" class="p-2 body-color">
          {{ if (isset .Params "img_src_2") }}
          <figure>
            <img img_src_2 src="{{.Get ""}}" alt="{{.Get "img_alt_2"}}">
          </figure>
          {{ end }}

          {{ if (isset .Params "icon_2") }}
          <div class="icon text-left pl-2">
            <i class="{{.Get "icon_2"}} fa-3x my-4"></i>
          </div>
          {{ end }}
          <div class="sc-card-body pl-2 pr-2">
            {{ if (isset .Params "tag_line_2") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_2"}}</span>
            {{ end }}
            <h5 class="mt-2">
              {{.Get "link_title_2"}}
            </h5>
            {{ if (isset .Params "tag_line_btm_2") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_2"}}</span>
            {{ end }}
          </div>
          <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
            {{.Get "link_content_2"}}
            <i class="fa fa-arrow-right ml-auto"></i>
          </div>
          </a>
        </div>
      </div>
      <div class="col-md-3 p-0 pr-3">

        <!-- Third card -->
        <div>
          <a href="{{.Get "link_3"}}" class="p-2 body-color">
          {{ if (isset .Params "img_src_3") }}
          <figure>
            <img img_src_3 src="{{.Get ""}}" alt="{{.Get "img_alt_3"}}">
          </figure>
          {{ end }}

          {{ if (isset .Params "icon_3") }}
          <div class="icon text-left pl-2">
            <i class="{{.Get "icon_3"}} fa-3x my-4"></i>
          </div>
          {{ end }}
          <div class="sc-card-body pl-2 pr-2">
            {{ if (isset .Params "tag_line_3") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_3"}}</span>
            {{ end }}
            <h5 class="mt-2">
              {{.Get "link_title_3"}}
            </h5>
            {{ if (isset .Params "tag_line_btm_3") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_3"}}</span>
            {{ end }}
          </div>
          <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
            {{.Get "link_content_3"}}
            <i class="fa fa-arrow-right ml-auto"></i>
          </div>
          </a>
        </div>

      </div>
      <div class="col-md-3 p-0 pr-3">
        <!-- 4 card -->
        <div>
          <a href="{{.Get "link_4"}}" class="p-2 body-color">
          {{ if (isset .Params "img_src_4") }}
          <figure>
            <img img_src_4 src="{{.Get ""}}" alt="{{.Get "img_alt_4"}}">
          </figure>
          {{ end }}

          {{ if (isset .Params "icon_4") }}
          <div class="icon text-left pl-2">
            <i class="{{.Get "icon_4"}} fa-3x my-4"></i>
          </div>
          {{ end }}
          <div class="sc-card-body pl-2 pr-2">
            {{ if (isset .Params "tag_line_4") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_4"}}</span>
            {{ end }}
            <h5 class="mt-2">
              {{.Get "link_title_4"}}
            </h5>
            {{ if (isset .Params "tag_line_btm_4") }}
            <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_4"}}</span>
            {{ end }}
          </div>
          <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
            {{.Get "link_content_4"}}
            <i class="fa fa-arrow-right ml-auto"></i>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- On mobile  -->
<!-- On mobile  -->
<!-- On mobile  -->
<!-- On mobile  -->
<div class="sc-a-title-3-card-hover-links  d-md-none">
  {{ if (isset .Params "main_title") }}
  <h2 class="text-center pb-4"> {{.Get "main_title"}} </h2>
  {{ end }}
  <div class="sc-cards-container sc-cards-swiper-container" style="overflow-x: hidden;">
    <div class="swiper-wrapper">
      <!-- First card -->
      <div class="swiper-slide">
        <a href="{{.Get "link_1"}}" class="p-2 body-color">
        {{ if (isset .Params "img_src_1") }}
        <figure>
          <img img_src_1 src="{{.Get ""}}" alt="{{.Get "img_alt_1"}}">
        </figure>
        {{ end }}

        {{ if (isset .Params "icon_1") }}
        <div class="icon text-left pl-2">
          <i class="{{.Get "icon_1"}} fa-3x my-4"></i>
        </div>
        {{ end }}
        <div class="sc-card-body pl-2 pr-2">
          {{ if (isset .Params "tag_line_1") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_1"}}</span>
          {{ end }}
          <h5 class="mt-2">
            {{.Get "link_title_1"}}
          </h5>
          {{ if (isset .Params "tag_line_btm_1") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_1"}}</span>
          {{ end }}
        </div>
        <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
          {{.Get "link_content_1"}}
          <i class="fa fa-arrow-right ml-auto"></i>
        </div>
        </a>
      </div>

      <!-- Second card -->
      <div class="swiper-slide">
        <a href="{{.Get "link_2"}}" class="p-2 body-color">
        {{ if (isset .Params "img_src_2") }}
        <figure>
          <img img_src_2 src="{{.Get ""}}" alt="{{.Get "img_alt_2"}}">
        </figure>
        {{ end }}

        {{ if (isset .Params "icon_2") }}
        <div class="icon text-left pl-2">
          <i class="{{.Get "icon_2"}} fa-3x my-4"></i>
        </div>
        {{ end }}
        <div class="sc-card-body pl-2 pr-2">
          {{ if (isset .Params "tag_line_2") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_2"}}</span>
          {{ end }}
          <h5 class="mt-2">
            {{.Get "link_title_2"}}
          </h5>
          {{ if (isset .Params "tag_line_btm_2") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_2"}}</span>
          {{ end }}
        </div>
        <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
          {{.Get "link_content_2"}}
          <i class="fa fa-arrow-right ml-auto"></i>
        </div>
        </a>
      </div>

      <!-- Third card -->
      <div class="swiper-slide">
        <a href="{{.Get "link_3"}}" class="p-2 body-color">
        {{ if (isset .Params "img_src_3") }}
        <figure>
          <img img_src_3 src="{{.Get ""}}" alt="{{.Get "img_alt_3"}}">
        </figure>
        {{ end }}

        {{ if (isset .Params "icon_3") }}
        <div class="icon text-left pl-2">
          <i class="{{.Get "icon_3"}} fa-3x my-4"></i>
        </div>
        {{ end }}
        <div class="sc-card-body pl-2 pr-2">
          {{ if (isset .Params "tag_line_3") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_3"}}</span>
          {{ end }}
          <h5 class="mt-2">
            {{.Get "link_title_3"}}
          </h5>
          {{ if (isset .Params "tag_line_btm_3") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_3"}}</span>
          {{ end }}
        </div>
        <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
          {{.Get "link_content_3"}}
          <i class="fa fa-arrow-right ml-auto"></i>
        </div>
        </a>
      </div>

      <!-- 4 card -->
      <div class="swiper-slide">
        <a href="{{.Get "link_4"}}" class="p-2 body-color">
        {{ if (isset .Params "img_src_4") }}
        <figure>
          <img img_src_4 src="{{.Get ""}}" alt="{{.Get "img_alt_4"}}">
        </figure>
        {{ end }}

        {{ if (isset .Params "icon_4") }}
        <div class="icon text-left pl-2">
          <i class="{{.Get "icon_4"}} fa-3x my-4"></i>
        </div>
        {{ end }}
        <div class="sc-card-body pl-2 pr-2">
          {{ if (isset .Params "tag_line_4") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_4"}}</span>
          {{ end }}
          <h5 class="mt-2">
            {{.Get "link_title_4"}}
          </h5>
          {{ if (isset .Params "tag_line_btm_4") }}
          <span class="tag-line small-text mt-1">{{.Get "tag_line_btm_4"}}</span>
          {{ end }}
        </div>
        <div class="sc-card-footer link-color d-flex align-items-center small-text pl-2 pr-2">
          {{.Get "link_content_4"}}
          <i class="fa fa-arrow-right ml-auto"></i>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
