<!-- Shortcode error handling  -->
<!-- Shortcode error handling  -->
<!-- Shortcode error handling  -->
<!-- Shortcode error handling  -->
{{ with .Get "percentage_value" }}
{{ else }}
{{ errorf "missing value for param 'percentage_value': %s" .Position }}
{{ end }}

{{ with .Get "percentage_description" }}
{{ else }}
{{ errorf "missing value for param 'percentage_description': %s" .Position }}
{{ end }}

{{ with .Get "quote" }}
{{ else }}
{{ errorf "missing value for param 'quote': %s" .Position }}
{{ end }}

{{ with .Get "quote_author" }}
{{ else }}
{{ errorf "missing value for param 'quote_author': %s" .Position }}
{{ end }}


<div class="sc-percentage-with-quote">
    <div class="container-fluid container-lg">
        <div class="row">
            <div class="percentage col-md-3 offset-md-1">
                <div class="mt-2 mr-5 p-0">
                    <div class="p-number">{{.Get "percentage_value"}}</div>
                  <div><b>{{.Get "percentage_description"}}</b></div>
                </div>
            </div>
            <div class="quote col-md-7">
              <p>"{{.Get "quote"}}"</p>
                <div>
                    <div class="quote-author text-muted">{{.Get "quote_author"}}</div>
                        {{ if (isset .Params "link_url") }}
                    <div class="mt-3">
                      <a class="link-color-before animated" href="{{.Get "link_url"}}">
                          {{.Get "link_text"}}&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
                      </a>
                      </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
