<div class="container-fluid container-lg">
  <div class="mx-auto pb-5" style="width: 70%;">
    {{ if (isset .Params "bigtitle") }}
    <h1 class="text-center">{{.Get "bigtitle"}}</h1>
    {{ end }}

    {{ if (isset .Params "title") }}
    <h2 class="text-center">{{.Get "title"}}</h2>
    {{ end }}
  </div>

  <div class="row">
        {{ if (isset .Params "logo4") }}
        <div class="col-sm-3 text-center mb-4"><img class="lazy" data-src="{{.Get "logo1"}}" alt="logo" height="100"/></div>
        <div class="col-sm-3 text-center mb-4"><img class="lazy" data-src="{{.Get "logo2"}}" alt="logo" height="100"/></div>
        <div class="col-sm-3 text-center mb-4"><img class="lazy" data-src="{{.Get "logo3"}}" alt="logo" height="100"/></div>
        <div class="col-sm-3 text-center mb-4"><img class="lazy" data-src="{{.Get "logo4"}}" alt="logo" height="100"/></div>
        {{ else if (isset .Params "logo3") }}
        <div class="col-sm-4 text-center mb-4"><img class="lazy" data-src="{{.Get "logo1"}}" alt="logo" height="100"/></div>
        <div class="col-sm-4 text-center mb-4"><img class="lazy" data-src="{{.Get "logo2"}}" alt="logo" height="100"/></div>
        <div class="col-sm-4 text-center mb-4"><img class="lazy" data-src="{{.Get "logo3"}}" alt="logo" height="100"/></div>
        {{ else if (isset .Params "logo2") }}
        <div class="col-sm-6 text-center mb-4"><img class="lazy" data-src="{{.Get "logo1"}}" alt="logo" height="100"/></div>
        <div class="col-sm-6 text-center mb-4"><img class="lazy" data-src="{{.Get "logo2"}}" alt="logo" height="100"/></div>
        {{ else if (isset .Params "logo1") }}
        <div class="col-sm-12 text-center mb-4"><img class="lazy" data-src="{{.Get "logo1"}}" alt="logo" height="100"/></div>
        {{ end }}
    </div>
</div>
