<div id="{{.Get "id"}}" class="sc-tabs-left-image-right-4-items container-fluid container-lg">
    <!-- TABS -->
    <div class="tabs-container row">
        <div class="offset-sm-1 col-sm-4 tab pr-5 mb-2">
            <div class="tab-header active" data-tabid="{{.Get "id"}}" data-tab="1">
                <i class="{{.Get "tab1_icon"}} fa-3x mb-3"></i>
                <br/>{{.Get "tab1_name"}}
            </div>
        </div>
        <div class="col-sm-4 tab pr-5 mb-2">
            <div class="tab-header" data-tabid="{{.Get "id"}}" data-tab="2">
                <i class="{{.Get "tab2_icon"}} fa-3x mb-3"></i>
                <br/>{{.Get "tab2_name"}}
            </div>
        </div>
        <div class="col-sm-3 tab mb-2">
            <div class="tab-header" data-tabid="{{.Get "id"}}" data-tab="3">
                <i class="{{.Get "tab3_icon"}} fa-3x mb-3"></i>
                <br/>{{.Get "tab3_name"}}
            </div>
        </div>
    </div>

    <!-- TAB CONTENTS -->
    <div class="mt-5 tab-contents">

        <!-- TAB 1 -->
        <div class="row" data-tabid="{{.Get "id"}}" data-tabcontent="1">
            <div class="col-md-6 pt-3 mb-4">
                <img src="{{.Get "t1_image_url"}}" alt="{{.Get "t1_image_alt"}}" width="100%">
            </div>
            <div class="offset-md-1 col-md-5">
                <h4 class="font-weight-bold mb-4">{{.Get "t1_title"}}</h4>

                {{ if (isset .Params "t1_1_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t1_1_icon"}} mr-3 fa-lg"></i> {{.Get "t1_1_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t1_1_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t1_2_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t1_2_icon"}} mr-3 fa-lg"></i> {{.Get "t1_2_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t1_2_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t1_3_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t1_3_icon"}} mr-3 fa-lg"></i> {{.Get "t1_3_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t1_3_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t1_4_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t1_4_icon"}} mr-3 fa-lg"></i> {{.Get "t1_4_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t1_4_text"}}</p>
                </div>
                {{ end }}
            </div>
        </div>

        <!-- TAB 2 -->
        <div class="row" data-tabid="{{.Get "id"}}" data-tabcontent="2" style="display:none">
            <div class="col-md-6 pt-3 mb-4">
                <img src="{{.Get "t2_image_url"}}" alt="{{.Get "t2_image_alt"}}" width="100%">
            </div>
            <div class="offset-md-1 col-md-5">
                <h4 class="font-weight-bold mb-4">{{.Get "t2_title"}}</h4>

                {{ if (isset .Params "t2_1_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t2_1_icon"}} mr-3 fa-lg"></i> {{.Get "t2_1_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t2_1_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t2_2_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t2_2_icon"}} mr-3 fa-lg"></i> {{.Get "t2_2_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t2_2_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t2_3_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t2_3_icon"}} mr-3 fa-lg"></i> {{.Get "t2_3_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t2_3_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t2_4_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t2_4_icon"}} mr-3 fa-lg"></i> {{.Get "t2_4_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t2_4_text"}}</p>
                </div>
                {{ end }}
            </div>
        </div>

        <!-- TAB 3 -->
        <div class="row" data-tabid="{{.Get "id"}}" data-tabcontent="3" style="display:none">
            <div class="col-md-6 pt-3 mb-4">
                <img src="{{.Get "t3_image_url"}}" alt="{{.Get "t3_image_alt"}}" width="100%">
            </div>
            <div class="offset-md-1 col-md-5">
                <h4 class="font-weight-bold mb-4">{{.Get "t3_title"}}</h4>

                {{ if (isset .Params "t3_1_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t3_1_icon"}} mr-3 fa-lg"></i> {{.Get "t3_1_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t3_1_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t3_2_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t3_2_icon"}} mr-3 fa-lg"></i> {{.Get "t3_2_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t3_2_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t3_3_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t3_3_icon"}} mr-3 fa-lg"></i> {{.Get "t3_3_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t3_3_text"}}</p>
                </div>
                {{ end }}
                {{ if (isset .Params "t3_4_title") }}
                <div class="mt-4">
                    <strong><i class="{{.Get "t3_4_icon"}} mr-3 fa-lg"></i> {{.Get "t3_4_title"}}</strong><br/>
                    <p class="mt-2">{{.Get "t3_4_text"}}</p>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
