.sc-left-img-right-text-with-link {
  .image-container {
    margin-right: 5%;
    flex-basis: 50%;
  }

  .image-container img {
    box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.1);
  }

  .right-side-container {
    margin-left: 5%;
    flex-basis: 50%;
  }

  @media (max-width: 767.98px) {
    .image-container,
    .right-side-container {
      margin: 0;
    }
  }

  a {
    position: relative;
    // font-weight: 600;
  }

  h2 {
    margin-bottom: 2rem;
  }

  a:hover {
    text-decoration: none;
  }

  a:before {
    transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    bottom: -2px;
    width: 0;
    content: "";
  }

  a:hover:before {
    width: 100%;
  }
}
