.sc-tabs-left-image-right-4-items {
    @media (min-width: 992px) {
        .tabs-container {
            margin-left: 3.3rem;
            margin-right: 3.3rem;
            padding-left: 3.3rem;
            padding-right: 3.3rem;
        }
    }      

    .tab {
        border-bottom: 1px solid rgb(226, 226, 226);
        text-align: left;
    }

    .tab-header {
        cursor: pointer;
        color: rgb(99, 99, 99);
        padding-bottom: 12px;

        &.active, &:hover {
            color: #124a7c;
            padding-bottom: 15px;
            border-bottom: 1px solid #124a7c;
        }

        &.active {
            padding-bottom: 13px;
            border-bottom: 3px solid #124a7c;
            font-weight: bold;
        }

        i {
            display: block;
            margin-bottom: 100px;
        }
    }

    img {
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
    }
}