{{ $colorScheme := default "light" .Site.Params.footer.colorScheme }}
<footer>
      <div class="py-3 bg-{{ $colorScheme }} d-flex justify-content-center pr-md-5">
        <div>
          <a class="nav-link mr-2 font-weight-bold" href="/contact">
            Contact&nbsp;Us
          </a>
        </div>
        <div>
          <a class="nav-link mr-2 font-weight-bold" href="/about-us">
          About Us</a>
        </div>
        <div>
          <a aria-label="github link" class="nav-link"
          href="https://github.com/metadot" rel="noopener noreferrer"
          target="_blank" >
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
        <div>
          <a aria-label="linkedin link"
            class="nav-link"
            href="https://www.linkedin.com/company/metadot-corporation/"
            rel="noopener noreferrer" target="_blank" >
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
        </div>
      </div>

</footer>
<footer>
  <div class="text-center bg-{{ $colorScheme }} py-3 copyright">
    © Copyright 2020, product of
    <a href="http://metadot.com" class="btn-link"
    style="color:#1034ea"> Metadot</a>. All rights reserved. Made with
    ♥ in Austin, Texas.
  </div>
</footer>

{{ partial "js-includes" .}}
