// Import the custom font for blog-cards and blog-posts
@font-face {
  font-family: "CustomFont";
  src: url("../fonts/EuropaRegular.woff2") format("woff");
}

// Cards found in blog lists pages
.blog-card {
  @extend .shadow-lg;
  max-width: 33rem;
  background-color: white;
  text-align: left;
  font-family: "CustomFont";
  padding: 5%;
  a {
    text-decoration: none;
  }
  transition: transform 0.5s ease;
}

// Cards found in blog terms pages
.categories-card {
  @extend .shadow-lg;
  max-width: 33rem;
  height: auto;
  background-color: white;
  text-align: center;
  font-family: "CustomFont";
  padding: 5%;
  a {
    text-decoration: none;
  }
  transition: transform 0.5s ease;
}

.blog-card:hover {
  transform: translateY(-15px);
}

.categories-card:hover {
  transform: translateY(-15px);
}

// Title of blog-cards
.blog-card-title {
  h3 {
    a {
      color: #261e41;
      font-weight: 700;
      line-height: 1.3;
      font-size: 1.8rem;
    }
  }
}

// Summary of blog-cards
.blog-card-excerpt {
  p {
    color: #261e41;
    line-height: 1.7;
  }
}

// Image of blog-cards
.blog-card-image {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

// For mobile devices
@media (max-width: 767px) {
  .blog-card-image {
    height: auto;
  }
  .blog-card {
    height: auto;
  }
}

// For medium devices
@media (min-width: 768px) and (max-width: 1199px) {
  .blog-card-image {
    height: 15rem;
  }
  .blog-card {
    min-height: 45rem;
  }
}

// For large devices
@media (min-width: 1200px) {
  .blog-card-image {
    height: 19rem;
  }
  .blog-card {
    min-height: 47.7rem;
  }
}

// "Continue reading" button
.blog-card-button {
  border: 2px solid;
  font-size: 0.9rem;
  font-weight: 700;
  color: #007cba;
  padding: .375rem .75rem;
}
.blog-card-button:hover {
  color: #000;
}
