html {
  font-family: sans-serif;
}

/////////////////////////////////////// BANNER  //////////////////////////////////////////////
/////////////////////////////////////// BANNER  //////////////////////////////////////////////
/////////////////////////////////////// BANNER  //////////////////////////////////////////////
/////////////////////////////////////// BANNER  //////////////////////////////////////////////

#banner {
  padding: 50px 0 50px;
  height: 100vh;
  background: no-repeat url("/images/brand/building.webp") center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  & .banner-title {
    font-size: 4.375rem;
    font-weight: 600;
    letter-spacing: -0.035rem;
    text-shadow: 3px 1px 0px rgb(255, 255, 255);
  }

  & .banner-subtitle {
    color: darkorange;
    font-size: 1.5rem;
    text-shadow: 3px 1px 0px rgb(255, 255, 255);
  }

  & .banner-button {
    transition: all 0.3s ease 0s;
    font-weight: 600;
    padding: 15px 30px;
    font-size: 12px;
    border: 2px solid #2b70a9;
    border-radius: 6px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(0, 0, 0, 0.2);
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(63, 58, 58);
    vertical-align: middle;
    display: inline-block;
    line-height: 28px;
  }

  & .banner-button:hover {
    transform: translateY(-7px);
    color: #2b70a9;
  }
}

@media (max-width: 776px) {
  #banner .banner-title {
    font-size: 35px;
  }
  #banner .banner-subtitle {
    font-size: 20px;
  }
}

////////////////////////////////////////////// SOFTWARE PRODUCTION LIST //////////////////////////////////
////////////////////////////////////////////// SOFTWARE PRODUCTION LIST //////////////////////////////////
////////////////////////////////////////////// SOFTWARE PRODUCTION LIST //////////////////////////////////
////////////////////////////////////////////// SOFTWARE PRODUCTION LIST //////////////////////////////////

#software {
  & .software-product {
    & .software-head {
      & .software-image {
        flex-basis: 0 !important;
        width: auto;
        height: 47px;
        vertical-align: middle;
        padding-left: 0;
      }
      & .software-title {
        font-weight: 700;
        font-size: 2rem;
        vertical-align: middle;
      }
    }
    & .software-description {
      font-size: 1.25rem;
      font-weight: 400;
      color: #000;
      margin: 3rem 0 2rem;
      letter-spacing: -0.01rem;
      line-height: 1.5;
    }
  }

  & .btn:hover {
    transform: scale(1.1);
  }
}

////////////////////////////////ICON/////////////////////////////////////
////////////////////////////////ICON/////////////////////////////////////
////////////////////////////////ICON/////////////////////////////////////
////////////////////////////////ICON/////////////////////////////////////

.icon-works {
  display: block;
  margin: 10px auto;
  height: 64px;
  width: 100%;
}

////////////////////////////////////////////// HARDWARE PRODUCTION LIST //////////////////////////////////
////////////////////////////////////////////// HARDWARE PRODUCTION LIST //////////////////////////////////
////////////////////////////////////////////// HARDWARE PRODUCTION LIST //////////////////////////////////
////////////////////////////////////////////// HARDWARE PRODUCTION LIST //////////////////////////////////

#hardware {
  & .hardware-product {
    & .hardware-brand-image {
      width: 50%;
    }
  }

  & .hardware-description {
    font-size: 20px;
  }
}

////////////////////////////////////////////// CONTACT US PAGE //////////////////////////////////
////////////////////////////////////////////// CONTACT US PAGE //////////////////////////////////
////////////////////////////////////////////// CONTACT US PAGE //////////////////////////////////
////////////////////////////////////////////// CONTACT US PAGE //////////////////////////////////

.font-weight-light {
  font-weight: 300 !important;
}

.office-loc {
  font-family: sans-serif;
  & h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.1rem;
  }
}

/////////////////////////
.centered-image {
  max-width: 100%;
  margin: 4px 0;
}

/////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////
/////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////
/////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////
/////////////////////////////////////////////// FOOTER //////////////////////////////////////////////////

footer {
  & .principal-nav {
    flex-flow: wrap;
    font-size: 1rem;
  }
  & .bg-light {
    background-color: #f8f9fa !important;
  }
  & .copyright {
    font-weight: 400;
    font-size: 0.75rem;
    color: #454545;
    background-color: #ebebeb !important;
    padding: 0.8rem 1rem;
  }
  & .footer-grid {
    justify-content: space-around;
  }
  & .footer-copyright {
    justify-content: center;
    p {
      margin: auto;
    }
  }
  & ul {
    list-style: none;
    align-items: center;
  }
  & .brand-list {
    img {
      width: auto;
      height: 35px;
      vertical-align: middle;
    }
  }
}

/////////////////////////////////////////////// HEADER //////////////////////////////////////////////////
/////////////////////////////////////////////// HEADER //////////////////////////////////////////////////
/////////////////////////////////////////////// HEADER //////////////////////////////////////////////////
/////////////////////////////////////////////// HEADER //////////////////////////////////////////////////

header {
  & .dropdown-menu {
    & .dropdown-item {
      img {
        height: 30px;
        width: 42px;
        vertical-align: middle;
        padding-right: 10px;
        padding-left: 3px;
      }
    }
  }
}

/////////////////////////////////////////////// ABOUT-US //////////////////////////////////////////////////
/////////////////////////////////////////////// ABOUT-US //////////////////////////////////////////////////
/////////////////////////////////////////////// ABOUT-US //////////////////////////////////////////////////
/////////////////////////////////////////////// ABOUT-US //////////////////////////////////////////////////

#about-us {
  aside {
    ul {
      list-style: none;
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
      li {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        a {
          color: #6c63ff;
        }
      }
    }
  }

  main {
    & #identity-section {
      & img {
        height: 150px;
      }
    }
    & #values-section {
      .dropdown-button {
        & .left-side img {
          width: 6rem;
          height: 6rem;
          margin-right: 1rem;
        }
        & .title {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      & .rotate45 {
        img {
          transform: rotate(45deg);
        }
      }
    }
    & .content {
      display: none;
      overflow: hidden;
      margin-bottom: 10px;
      padding-left: 50px;
      @media (max-width: 767px) {
        padding-left: 10px;
      }
    }
  }
}

/////////////////////////////////////////////// BLOG SECTION //////////////////////////////////////////////////
/////////////////////////////////////////////// BLOG SECTION //////////////////////////////////////////////////
/////////////////////////////////////////////// BLOG SECTION //////////////////////////////////////////////////
/////////////////////////////////////////////// BLOG SECTION //////////////////////////////////////////////////

/* This is coming from mojo */
$h2-mobile-font-size: calc(2rem + (18 * (100vw - 400px) / 624));
@media (max-width: 767.98px) {
  .title-h2 {
    font-size: $h2-mobile-font-size !important;
  }
}

/* This is coming from mojo */
.mojo-card {
  @extend .shadow-lg;
  padding: 16px;
  background-color: white;
  border-radius: 3px;
}

.head-section {
  margin-top: 50px;
  height: 13rem;
}
