.nav-item {
  margin: 0;

  .nav-link {
    text-transform: ze;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

.container-header{
  max-width: 1500px;
  width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

@media screen and (max-width:375px){
  .navbar-brand{
    width: 150px;
  }
}