{{ define "main" }}

<style>
  /* For large devices */
  @media (min-width: 1000px) {
    .blog-title {
      font-size: 56px;
    }
    .blogpost {
      padding: 3% 7%;
    }
    .blog-content h2 {
      font-size: 2rem !important;
    }
  }

  /* For medium devices */
  @media (max-width: 999px) and (min-width: 601px) {
    /* NB: when width < 768px, blog-title font-size from h2 main.scss is used */
    .blog-title {
      font-size: 48px;
    }
    .blogpost {
      padding: 3% 5%;
    }
    .blog-content h2 {
      font-size: 2rem !important;
    }
  }

  /* For small devices */
  @media (max-width: 600px) {
    .blogpost {
      padding: 3% 4%;
      font-size: 18px;
      width: 92%;
    }
    .blog-content h2 {
      font-size: 30px !important;
    }
    .blog-content ol {
      padding-left: 2rem !important;
    }
    .blog-content ul {
      padding-left: 2rem !important;
    }
  }

  .blogpost {
    font-family: "CustomFont";
    text-align: left;
    color: #261e41;
  }

  .blog-title {
    font-weight: 700;
    line-height: 1.3;
  }

  .blog-references {
    font-size: 15px;
    color: #62707c;
  }

  .blog-content {
    line-height: 1.7;
  }

  .blog-content h2 {
    font-weight: 400 !important;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  img .img-post{
    max-width: 100%;
    height: auto;
  }
</style>

<!-- Navbar section -->
<div class="container mt-3">
  <nav class="nav d-flex">
    <a class="px-2 py-2 text-muted" href="/blog/">Back to Home</a>
  </nav>
</div>

<!-- Blogpost section -->
<div class="mojo-card blogpost container mb-5">
  <!-- Title -->
  <h2 class="blog-title title-h2">{{ .Title }}</h2>

  <!-- Author and date -->
  <p class="blog-references my-4">
    {{ .Params.author}} on <time>{{ .Date.Format "January 2, 2006" }}</time>
  </p>

  <!-- Image -->
  <img
    src="{{ .Params.image }}"
    class="img-fluid rounded img-post"
    alt="{{ .Params.alt }}"
  />

  <!-- Content of post -->
  <div class="blog-content pt-3">{{.Content}}</div>
</div>

{{ end }}
