<!-- Blog navbar buttons -->

<style>
    .border-wd {
      border-width: 2px !important;
    }
  </style>
  
  <div class="container-lg mb-5">
      <hr class="my-0"/>
  
      <!-- Hide on screens smaller then md -->
      <span class="d-none d-md-block">
        <nav class="nav justify-content-center">
          <a class="px-2 py-2 text-muted" href="/blog/"><span
          class="border border-wd p-1">Blog Home</span></a>
          <a class="px-2 py-2 text-muted"
          href="/categories/remote-working/">Remote Working</a>
        </nav>
      </span>
  
      <!-- Hide on screens wider then md-->
      <span class="d-md-none">
        <nav class="nav justify-content-center">
          <a class="px-2 py-2 text-muted" href="/blog/">Home</a>
          <a class="px-2 py-2 text-muted"
          href="/categories/">Topics</a>
        </nav>
      </span>
      
  </div>
  