{{ define "main" }}

<section class="text-center section-mojo">
  <h1>
    Metadot, a team which puts quality and Customer first
  </h1>
</section>

<section id="about-us">
  <div class="container">
    <div class="row">

      <!-- SIDE BAR FIRST COLUMN-->
      <aside class="col-md-3 d-none d-md-block">
        <ul>
          <li><a href="#identity-section">Our identity</a></li>
          <li><a href="#values-section">Our core values</a></li>
          <li><a href="#work-section">How we work</a></li>
          <li><a href="#history-section">Our history</a></li>
        </ul>
      </aside>

      <!-- MAIN CONTENT SECOND COLUMN -->
      <main class="col-md-9 col-xs-12">

        <!-- IDENTITY SECTION  -->
        <div id="identity-section">
          <div class="mb-3rem">
            <h2 class="section-title">Our Identity</h2>
            <p class="section-subtitle">​​The world wide web
            revolution made us significantly change over the years,
            but we remained the same. Here are some notions we focus
            on:</p>
          </div>
          <div class="container">
            <div class='row'>
              <div class="col-md-6 col-sm-12 mb-5">
                <img class="lazyloaded mb-3 mw-100 rounded"
                src="/images/about-us/quality.svg" alt="">
                <h3>Quality Before Quantity </h3>
                <p>Even if we are a small team, all of our products
                are designed with great expertise. We invest time and
                energy into creating top notch products and
                service.</p>
              </div>
              <div class="col-md-6 col-sm-12 mb-5">
                <img class="lazyloaded mb-3 mw-100 rounded"
                src="/images/about-us/potential.svg" alt="">
                <h3>Ignite Human Potential</h3>
                <p>Here at Metadot, we believe in every company and
                every individual. Our products aim to support
                productivity and organization to help make even your
                most challenging goals, possible.</p>
              </div>
              <div class="col-md-6 col-sm-12 pb-5">
                <img class="lazyloaded mb-3 mw-100 rounded"
                src="/images/about-us/communication.svg" alt="">
                <h3>Communication Is Key</h3>
                <p>We aim to provide high quality service with
                transparency. This means open communication throughout
                the process. From building strong relations with our
                suppliers, to delivering top-notch products to our
                customers - communication remains a driving force of
                our company.</p>
              </div>
              <div class="col-md-6 col-sm-12 pb-5">
                <img class="lazyloaded mb-3 mw-100 rounded"
                src="/images/about-us/improve.svg" alt="">
                <h3>Constantly Improving</h3>
                <p>We are constantly seeking new ways to improve our
                product and stay on the cutting edge of technology. We
                don't strive to just complete our goals. We strive to
                create a new, innovative way of thinking that
                dominates the industry.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- END IDENTITY SECTION -->

        <!--  CORE VALUES SECTION  -->
        <div class="mb-5rem" id="values-section">
          <div class="mb-3rem">
            <h2 class="section-title">Our core values</h2>
            <p class="section-subtitle">From creating processes to
            decision-making and recruiting, we build our five core
            values into nearly every single thing we do.</p>
          </div>

          <!-- LIST 1 -->
          <div class="value-item border-top">
            <div class="dropdown-button w-100 h-100 clickable" id="1">
              <div class="left-side d-flex align-items-center">
                <img src="/images/about-us/boss.webp" alt="boss
                rounded picture">
                <p class="title mb-0">THE BEST</p>
              </div>
              <div class="right-side rotate45">
                <img id="dropdown-round-1" src="/images/cross.svg"
                alt="cross" height="14px" width="14px" />
              </div>
            </div>

            <div class="content">
              <ul>
                <li>
                  The Best People:
                  <p>We recognize the value in allowing people a
                  chance to grow.</p>
                </li>
                <li>
                  The Best Products:
                  <p>Our products aren’t afraid to be the
                  overachievers that they are.</p>
                </li>
                <li>
                  The Best Customers:
                  <p>From professional end-users, to uber geeks, our
                  customers do their research, and seek our products
                  to bring their productivity to the next level.</p>
                </li>
              </ul>
            </div>
          </div>

          <!-- LIST 2 -->
          <div class="value-item border-top">
            <div class="dropdown-button w-100 h-100 clickable" id="2">
              <div class="left-side d-flex align-items-center">
                <img src="/images/about-us/obsess.webp" alt="quality obsess
                rounded picture">
                <p class="title mb-0">QUALITY OBSESSED</p>
              </div>
              <div class="right-side rotate45">
                <img id="dropdown-round-2" src="/images/cross.svg"
                alt="cross" height="14px" width="14px" />
              </div>
            </div>

            <div class="content">
              <ul>
                <li>
                  Premium Materials: In hardware, quality starts with
                  our product components:
                  <ul class="mb-2">
                    <li>
                      Gold-plated key switches
                    </li>
                    <li>
                      N-key rollover on all keyboards
                    </li>
                    <li>
                      Aluminum construction details
                    </li>
                    <li>
                      Extra long USB cable
                    </li>
                  </ul>
                </li>
                <li>
                  Durable construction:
                  <p>Our products aren’t afraid to be the
                  overachievers that they are.</p>
                </li>
                <li>
                  Superior Experience:
                  <p>Every element of each product is taken into
                  consideration - we’ve held full staff meetings to
                  test the precise feel, sound, and reactivity of a
                  single keystroke until we are all completely
                  satisfied.</p>
                </li>
              </ul>
            </div>
          </div>

          <!-- LIST 3 -->
          <div class="value-item border-top">
            <div class="dropdown-button h-100 w-100 clickable" id="3">
              <div class="left-side d-flex align-items-center">
                <img class="lazyloaded"
                src="/images/about-us/best.webp" alt="be your best
                yourself picutre rounded">
                <p class="title mb-0">BE YOUR BEST SELF</p>
              </div>
              <div class="rotate45">
                <img id="dropdown-round-3" src="/images/cross.svg"
                alt="cross" height="14px" width="14px" />
              </div>
            </div>

            <div class="content">
              <ul>
                <li>
                  Cultivate Personal Growth:
                  <ul class="mb-2">
                    <li>
                      We create a work/life balance to provide the
                      harmony that allows our employees to thrive.
                    </li>
                    <li>
                      We understand that it can be hard to dedicate
                      time outside of work for personal wellness, so
                      we have brought classes such as yoga, tai chi,
                      and dance to our employees within office hours.
                    </li>
                  </ul>
                </li>
                <li>
                  Cultivate Professional Growth:
                  <ul class="mb-2">
                    <li>
                      Our goal is to help our employees enrich their
                      skill sets in a way that will help them not just
                      within our company, but throughout their
                      professional careers.
                    </li>
                  </ul>
                </li>
                <li>
                  Cultivate Friendship:
                  <ul class="mb-2">
                    <li>
                      We inspire each other, and nurture a positive
                      work environment that congratulates each other’s
                      hard work.
                    </li>
                    <li>
                      Company-wide events allow us to celebrate
                      company and individual milestones &
                      achievements.
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <!-- LIST 4 -->
          <div class="value-item border-top">
            <div class="dropdown-button h-100 w-100 clickable" id="4">
              <div class="left-side d-flex align-items-center">
                <img class="lazyloaded"
                src="/images/about-us/innovation.webp" alt="innovation
                picture rounded">
                <p class="title mb-0">INNOVATION</p>
              </div>
              <div class="rotate45">
                <img id="dropdown-round-4" src="/images/cross.svg"
                alt="cross" height="14px" width="14px" />
              </div>
            </div>

            <div class="content">
              <ul>
                <p>Fearlessly Pushing the Limits with Products that
                Inspire:</p>
                <li>
                  We created a new market with a blank keyboard.
                </li>
                <li>
                  We added a magnetic ruler as a keyboard foot bar.
                </li>
                <li>
                  We added an over-sized volume knob to our keyboards.
                </li>
                <li>
                  We were the first company (that we know of) to add a
                  3.0 USB hub to our keyboards.
                </li>
                <li>
                  We continue to innovate and create products that
                  inspire.
                </li>
              </ul>
            </div>
          </div>

          <!-- LIST 5 -->
          <div class="value-item border-top border-bottom">
            <div class="dropdown-button h-100 w-100 clickable" id="5">
              <div class="left-side d-flex align-items-center">
                <img class="lazyloaded"
                src="/images/about-us/getitdone.webp" alt="innovation
                picture rounded">
                <p class="title mb-0">GET IT DONE</p>
              </div>
              <div class="rotate45">
                <img id="dropdown-round-5" src="/images/cross.svg"
                alt="cross" height="14px" width="14px" />
              </div>
            </div>

            <div class="content">
              <ul>
                <p>Metadot employees do what it takes to ensure our
                products continue to be unstoppable forces to be
                reckoned with...</p>
                <li>
                  Sometimes this means we work late.
                </li>
                <li>
                  Sometimes this means we take work home.
                </li>
                <li>
                  We work hard, but we also know how to party.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- END IDENTITY SECTION -->

        <!-- HOW WE WORK SECTION -->
        <div class="mb-5rem" id="work-section">
          <div class="mb-3rem">
            <h2 class="section-title">How do we work</h2>
            <div class="row justify-content-center my-4">
              <img class="lazyloaded" src="/images/about-us/map.svg"
              alt="" style="max-width: 80%;">
            </div>
            <p>We are a team of individuals, spread out across the
            world. Our diversity is our greatest strength. Despite the
            miles between us, we come together in one remote
            environment to create top-tier products and a new approach
            to an entirely virtual organization. We do this through
            the use of our own softwares Bamzooka and Mojo
            Helpdesk.</p>
          </div>
        </div>

        <!-- HISTORY SECTION -->
        <div class="mb-5rem" id="history-section">
          <div class="mb-3rem">
            <h2 class="section-title">Our history</h2>
            <p class="section-subtitle">Here are some of our key
            moments and milestones throughout the history of
            Metadot...
            </p>
          </div>

          <!-- The Timeline -->

          <ul class="timeline">

            <!-- Item 1 -->
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Remote working switching</span>
                  <span class="time-wrapper"><span
                  class="time">2020</span></span>
                </div>
                <div class="desc">
                  With the outbreak of the Covid-19 pandemic, Metadot
                  made the transition to an entirely remote
                  organization. With updated structures, new forms of
                  communication and the official introduction of the
                  Metaman: Metadot’s official manual. </div>
              </div>
            </li>

            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">Bamzooka Creation</span>
                  <span class="time-wrapper"><span
                  class="time">2019</span></span>
                </div>
                <div class="desc">
                  Bamzooka was released in Morocco. Bamzooka helps
                  document processes, organize work and improve
                  quality of everything our teams do.
                </div>
              </div>

              <!-- Item 2 -->
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Creation of Mojo Helpdesk</span>
                  <span class="time-wrapper"><span
                  class="time">2011</span></span>
                </div>
                <div class="desc">
                  Mojo Helpdesk was invented to fill a need from the
                  Das Keyboard company, to help improve the after sale
                  service.
                </div>
              </div>
            </li>


            <!-- Item 2 -->
            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">First edition of UTC</span>
                  <span class="time-wrapper"><span
                  class="time">2010</span></span>
                </div>
                <div class="desc">
                  UTC or Ultimate Typing Championship is a competition
                  organised by Metadot promoting typing over the
                  world. The first edition knew an absolute craze on
                  <a
                  href="https://www.youtube.com/watch?v=m9EXEpjSDEw&t=134s"
                  target="_top">youtube.</a>
                </div>
              </div>
            </li>


            <!-- Item 3 -->
            <li>
              <div class="direction-r">
                <div class="flag-wrapper">
                  <span class="flag">Das Keyboard S Model</span>
                  <span class="time-wrapper"><span
                  class="time">2009</span></span>
                </div>
                <div class="desc">
                  Das Keyboard launches the Model S with upgraded
                  electronics, laser-etched keys and full n-key
                  rollover. The Model S also debuts the Professional
                  Model S Tactile Soft keyboard featuring Cherry MX
                  brown key switches which gives a quieter typing
                  experience for those in environments where the blue
                  switch is too loud.
                </div>
              </div>
            </li>

            <!-- Item 4 -->
            <li>
              <div class="direction-l">
                <div class="flag-wrapper">
                  <span class="flag">Creation of Das Keyboard</span>
                  <span class="time-wrapper"><span
                  class="time">2005</span></span>
                </div>
                <div class="desc">
                  Das Keyboard announces the launch of its first
                  keyboard: a completely blank keyboard designed
                  specifically for "über geeks." The keyboard features
                  individually weighted keys. Praised by many
                  prominent sources such as the <a
                  href="https://www.nytimes.com/2005/05/26/technology/circuits/a-keyboard-that-lets-the-supremely-confident-show.html?searchResultPosition=1"
                  target="_top">New York Times</a> for its quality and
                  originality.
                </div>
              </div>
            </li>

            <!-- Item 5 -->
            <li>
              <div class="direction-r ending">
                <div class="flag-wrapper">
                  <span class="flag">Creation of Metadot</span>
                  <span class="time-wrapper"><span
                  class="time">2000</span></span>
                </div>
                <div class="desc">
                  Founded by Daniel Guermeur, this was the beginning
                  of a successful company that would grow globally,
                  producing impressive products by talented
                  individuals.
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- END HISTORY SECTION-->

    </div>
  </div>

  </main>
  </div>

</section>

{{ end }}