{{ define "main" }}

<!-- Title section -->
<div class="container head-section">
    <h1 class="text-center">
        <span class="d-none d-sm-inline">
            Topic: 
        </span>
        {{ .Title }}
    </h1>
</div>

<!-- Blog card section -->
<div class="container-lg">
    <div class="row justify-content-center mb-5">
        
        {{ range .Paginator.Pages }}
        <div class="col-md-6">
            {{ .Render "summary"}}
        </div>
        {{ end }}

        {{ partial "pagination" . }}
        
    </div>
</div>

{{ end }}
