.sc-1-title-1-desc-1-wistia-all-centered {
  .wistia_click_to_play {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  
  .image-container {
    cursor: pointer;
    position: relative;

    &:hover .video-btn {
      transform: scale(1.2) translate(-35px, -35px);
    }
  }

  .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d02738;
    transition: all .2s ease-in-out;
  }
}
