.sc-1-title-1-desc-1-youtube-video-all-centered {
  .embeded-video {
    box-shadow: 0 0 1.5rem rgba(105, 105, 105, 0.5);
    max-width: 870px;
    width: 100%;
  }

  .embeded-video iframe {
    width: 100%;
  }
}
