.sc-four-sections {
    .intro {
        max-width: 700px;
    }
    
    .title {
        font-weight: bolder;
        font-size: 2rem;
    }
    
    .section-title {
        font-weight: bolder;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    
    .section-text {
        max-width: 450px;
        font-size: 1.1rem;
    }
}
