.sc-percentage-with-quote {
    .percentage {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;

        .percentage-wrapper {
            max-width: 80%;
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }

        span {
            font-weight: bolder;
            font-size: 1rem;
        }
    }

    .p-number {
      font-weight: bolder;
      font-size: 4.3rem;
      border-top: #4c4c4c 2px solid;
      letter-spacing: -3px;
      padding: 0;
      margin: 0;
    }

    .quote p {
        font-style: italic;
        font-size: 1.6rem;
        font-weight: lighter;
        margin-bottom: 30px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .quote-author {
        font-size: 1rem;
    }
}
