
.sc-right-img-left-text-with-get-started {

    @media (min-width: 767.98px) {
        div {
            flex-basis: 50%;
        }
    }

    img {
        max-width: 100%;
    }

    .usecases-title {
        font-weight: bolder;
    }

    .usecase {
        padding-bottom: 10px;

        li {
            text-transform: uppercase;
            font-weight: bolder;

        }
    }

    input {
        background-color: #fff;
        color: #454545;
        text-decoration: none;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: normal;
        font-size: 1rem;
        border: 1px solid #696969;
        border-radius: 4px;
        box-shadow: none;
        padding: 28px 20px;
        display: inline-block;
    }

    button {
        text-transform: uppercase;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        font-weight: bold;
        line-height: 1.28571429;
        letter-spacing: .8px;
        font-size: .875rem;
        text-decoration: none;
        padding: 19px 40px 20px;
    }

    @media (max-width: 767.98px) {
        div:first-child,
        div:last-child {
        margin: 0;
        }
    }

    .usecase a {
        color: inherit !important;
        &:hover {
            text-decoration: none;
        }
    }
}
