
.right-wistia-video-left-markdown-2-actions {
  h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  .left-container {
    margin-right: 2%;
    flex-basis: 20%;
  }

  .image-container {
    margin-left: 2%;
    flex-basis: 80%;
    position: relative;
    cursor: pointer;
  }

  .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wistia_click_to_play {
    max-width: 100% !important;
  }

  @media (max-width: 767.98px) {
    .left-container,
    .image-container {
      margin: 0;
      width: 100%;
    }
  }

  .actions .btn {
    text-transform: uppercase;
  }

  .tagline {
    text-transform: uppercase;
    font-weight: bold;
  }
}
