
.sc-right-img-left-text-with-link {
  .left-side-container {
    xmargin-right: 5%;
    xflex-basis: 50%;
  }

  .image-container {
    xmargin-left: 5%;
    xflex-basis: 50%;
  }


  @media (max-width: 767.98px) {
    .left-side-container,
    .right-side-container {
      margin: 0;
    }
  }

  a {
    position: relative;
    // font-weight: 600;
  }

  a:hover {
    text-decoration: none;
  }

  a:before {
    transition: width 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: absolute;
    bottom: -2px;
    width: 0;
    content: "";
  }
  a:hover:before {
    width: 100%;
  }
}
