.sc-sign-in {
    text-align: center;
    max-width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    
    .input-group-text {
        font-weight: bold;
        font-size: 1.1rem;
    }

    #signin-error-msg {
        color: #d40000;
    }
    
    #signin-redirect-msg {
        color: gray;
    }
    
    .link {
        color: #0d1848 !important;
    }
}
