<div class="sc-3-col-1-str-1-fa-icon-each row">
  <div class="col col-sm-12 col-md-12 col-lg-4 px-2">
    <div class="item">
      <i class="icon fas {{.Get " icon_type_1"}} fa-{{ .Get "icon_name_1" }}"
        {{ if (.Get "icon_color_1")}}style="color:{{ .Get "icon_color_1"}};" {{ else }}{{ end }}></i>
      <h4>{{.Get "lead_1"}}</h4>
      <p>{{.Get "description_1"}}</p>
      {{$url_content := .Get "url_content_1"}}
      {{ with .Get "url_link_1" }}
      <a class=" link-color-before" href="{{.}}">{{ $url_content }}&nbsp;<i class="fas fa-arrow-right"></i>
      </a>
      {{ end }}
    </div>
  </div>
  <div class="col col-sm-12 col-md-12 col-lg-4 px-4">
    <div class="item">
      <i class="icon fas {{.Get " icon_type_2"}} fa-{{ .Get "icon_name_2" }}"
        {{ if (.Get "icon_color_2")}}style="color:{{ .Get "icon_color_2"}};" {{ else }}{{ end }}></i>

      <h4>{{.Get "lead_2"}}</h4>
      <p>{{.Get "description_2"}}</p>
      {{$url_content := .Get "url_content_2"}}
      {{ with .Get "url_link_2" }}
      <a class="link-color-before" href="{{.}}">{{ $url_content }}&nbsp;<i class="fas fa-arrow-right"></i>
      </a>
      {{ end }}
    </div>
  </div>
  <div class="col col-sm-12  col-md-12 col-lg-4 px-2">
    <div class="item">
      <i class="icon fas {{.Get " icon_type_3"}} fa-{{ .Get "icon_name_3" }}"
        {{ if (.Get "icon_color_3")}}style="color:{{ .Get "icon_color_3"}};" {{ else }}{{ end }}></i>

      <h4>{{.Get "lead_3"}}</h4>
      <p>{{.Get "description_3"}}</p>
      {{$url_content := .Get "url_content_3"}}
      {{ with .Get "url_link_3" }}
      <a class="link-color-before" href="{{.}}">{{ $url_content }}&nbsp;<i class="fas fa-arrow-right"></i>
      </a>
      {{ end }}
    </div>
  </div>
</div>