<div class="mojo-section light-shade-blue"
     data-aos="fade-up">
    <div class="container">
        <div class="row text-center">
            <div class='col-sm-4'>
                <img class='{{ .Get "image_css_class" }}'
                     src='{{ .Get "image_url_1" }}'
                     width="140"
                     height="140"
                     alt='{{ .Get "lead_1" }} '>
                <h4 class="mt-2">
                    {{ .Get "lead_1" }}
                </h4>
                <p>
                    {{ .Get "description_1" }}
                </p>
            </div>

            <div class='col-sm-4'>
                <img class='{{ .Get "image_css_class" }}'
                     src='{{.Get "image_url_2" }}'
                     width="140"
                     height="140"
                     alt='{{ .Get "lead_2" }}'>
                <h4 class="mt-2">
                    {{ .Get "lead_2" }}
                </h4>
                <p>
                    {{ .Get "description_2" }}
                </p>
            </div>

            <div class='col-sm-4'>
                <img class='{{ .Get "image_css_class" }}'
                     src=' {{ .Get "image_url_3" }} '
                     width="140"
                     height="140"
                     alt='{{ .Get "lead_3" }} '>
                <h4 class="mt-2">
                    {{ .Get "lead_3" }}
                </h4>
                <p>
                    {{ .Get "description_3" }}
                </p>
            </div>

        </div>
    </div>
</div>