<div class="sc-3-col-1-str-1-icon-each row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="item mb-5 text-center text-sm-left d-flex flex-column" style='height: 80%;'>
      <img src="{{.Get "img_url_1"}}" alt="{{.Get "img_alt_1"}}" height="80"  class="lazy mb-3">

      {{ if (isset .Params "lead_1") }}
      <h4>{{.Get "lead_1"}}</h4>
      {{ end }}
      <p>{{.Get "description_1"}}</p>
      <div>{{ if (isset .Params "link_url_1") }}
        <a href="{{.Get "link_url_1"}}" target="_blank" class="animated" style="display:inline;">
          {{.Get "link_text_1"}}&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
        </a>
        {{ end }}</div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="item mb-5 text-center text-sm-left d-flex flex-column " style='height: 80%;'>
      <img src="{{.Get "img_url_2"}}" alt="{{.Get "img_alt_2"}}" height="80"  class="lazy mb-3">

      {{ if (isset .Params "lead_2") }}
      <h4>{{.Get "lead_2"}}</h4>
      {{ end }}
      <p>{{.Get "description_2"}}</p>
      <div>{{ if (isset .Params "link_url_2") }}
        <a href="{{.Get "link_url_2"}}" target="_blank" class="animated" style="display:inline;">
          {{.Get "link_text_2"}}&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
        </a>
        {{ end }}</div>

    </div>
  </div>
  <div class="col-xs-12 offset-sm-3 col-sm-6 offset-md-0 col-md-4" style='height: 100%;'>
    <div class="item mb-5 text-center text-sm-left d-flex flex-column" style='height: 80%;'>
      <img src="{{.Get "img_url_3"}}" alt="{{.Get "img_alt_3"}}" height="80"  class="lazy mb-3">

      {{ if (isset .Params "lead_3") }}
      <h4>{{.Get "lead_3"}}</h4>
      {{ end }}
      <p>{{.Get "description_3"}}</p>
      <div>{{ if (isset .Params "link_url_3") }}
        <a href="{{.Get "link_url_3"}}" target="_blank" class="animated" style="display:inline;">
          {{.Get "link_text_3"}}&nbsp;&nbsp;<i class="fas fa-arrow-right"></i>
        </a>
        {{ end }}</div>

    </div>
  </div>
</div>