{{$base := "assets/svg_icons/"}}
{{$icon1 := $.Get "icon_name_1"}}
{{$src1 := print $base $icon1}}
{{$icon2 := $.Get "icon_name_2"}}
{{$src2 := print $base $icon2}}
{{$icon3 := $.Get "icon_name_3"}}
{{$src3 := print $base $icon3}}
<div class="sc-3-col-1-str-1-icon-each row align-items-center">
  <div class="col col-sm-12 col-md-12 col-lg-4">
    <div class="item">
      <figure>
        {{readFile  (print $src1) | safeHTML}}
      </figure>
      <h4>{{.Get "lead_1"}}</h4>
      <p>{{.Get "description_1"}}</p>
    </div>
  </div>
  <div class="col col-sm-12 col-md-12 col-lg-4">
    <div class="item">
      <figure>
        {{readFile  (print $src2) | safeHTML}}
      </figure>
      <h4>{{.Get "lead_2"}}</h4>
      <p>{{.Get "description_2"}}</p>
    </div>
  </div>
  <div class="col col-sm-12  col-md-12 col-lg-4">
    <div class="item">
      <figure>
        {{readFile  (print $src3) | safeHTML}}
      </figure>
      <h4>{{.Get "lead_3"}}</h4>
      <p>{{.Get "description_3"}}</p>
    </div>
  </div>
</div>
