<div class="container-fluid container-lg">
    {{ if (isset .Params "bigtitle") }}
    <h1 class="text-capitalize font-weight-bolder mb-5">{{.Get "bigtitle"}}</h1>
    {{ end }}

    {{ if (isset .Params "title") }}
    <h2 class="text-capitalize font-weight-bolder mb-5 text-center">{{.Get "title"}}</h2>
    {{ end }}


    <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
            <i class="text-muted fas fa-user fa-2x mr-2"></i>
            <div class="inline-block width-300">
                <div class="card card-body full-width quote">
                    <p class="font-1-1">"{{.Get "quote1_text"}}"</p>
                    <div class='text-muted' style="font-size:.83em;">
                        <strong>{{.Get "quote1_author"}}</strong>
                        {{.Get "quote1_position"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <i class="text-muted fas fa-user fa-2x mr-2"></i>
            <div class="inline-block width-300">
                <div class="card card-body full-width quote">
                    <p class="font-1-1">"{{.Get "quote2_text"}}"</p>
                    <div class='text-muted' style="font-size:.83em;">
                        <strong>{{.Get "quote2_author"}}</strong>
                        {{.Get "quote2_position"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-3">
            <i class="text-muted fas fa-user fa-2x mr-2"></i>
            <div class="inline-block width-300">
                <div class="card card-body full-width quote">
                    <p class="font-1-1">"{{.Get "quote3_text"}}"</p>
                    <div class='text-muted' style="font-size:.83em;">
                        <strong>{{.Get "quote3_author"}}</strong>
                        {{.Get "quote3_position"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>