<h2 class="title text-white mb-5" style="padding:0px 20% 0px 20%;font-size:1.7em;">Everything your online store needs
    to create
    amazing customer experiences
</h2>
<div class="container text-white w-100">


    <div class="row justify-content-center">

        <div class="col-md-5 col-sm-10 mr-5" style="text-align: left;">
            <i class="fas fa-cogs fa-2x mb-2"></i>


            <h4 class=" mb-2" style="color:#c9e265">Automations</h4>
            <p>Define business rules and automate workflow and processes. Auto-assign, auto-close, auto-escalate,
                auto-remind, auto-alert and much more.</p>
        </div>

        <div class="col-md-5 col-sm-10" style="text-align: left;">
            <i class="far fa-envelope fa-2x mb-2"></i>


            <h4 class="mb-2" style="color:#c9e265">Email Integration</h4>
            <p>Add email addresses for ticket creation so customers can just send an email for support. Mojo Helpdesk
                works with email out-of-the-box.</p>
        </div>
    </div>



    <div class="row justify-content-center mt-3">

        <div class="col-md-5 col-sm-10 mr-5" style="text-align: left;">
            <i class="far fa-star fa-2x mb-2 mb-2"></i>


            <h4 class=" mb-2" style="color:#c9e265">Customer Satisfaction Ratings
            </h4>
            <p>Collect and track customer satisfaction ratings on every ticket for each agent, queue and group.
            </p>
        </div>
        <div class="col-md-5 col-sm-10" style="text-align: left;">
            <i class="far fa-chart-bar fa-2x mb-2"></i>
            <h4 class=" mb-2" style="color:#c9e265">Dashboard and Aging Summary</h4>
            <p>Review the overall performance of your help desk: what has been worked on and what still needs to be
                worked on. Always know what tickets are open and for how long—break down open tickets by agent, queue,
                form, and type.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-3">

        <div class="col-md-5 col-sm-10 mr-5" style="text-align: left;">
            <i class="fas fa-bullseye fa-2x mb-2"></i>


            <h4 class=" mb-2" style="color:#c9e265">SLA targets
            </h4>
            <p>Stay SLA compliant by setting up service level targets for a group, queue, priority or any staff member.
            </p>
        </div>
        <div class="col-md-5 col-sm-10" style="text-align: left;">
            <i class="far fa-file-alt fa-2x mb-2"></i>

            <h4 class=" mb-2" style="color:#c9e265">Canned responses</h4>
            <p>Stop typing the same responses over and over. Insert pre-formatted content into messages as needed.</p>
        </div>
    </div>


</div>