
<div class="sc-lead-magnet">
    <!-- <div id="news-signup">
        <div class="wrapper">
            <div id="news-signup_close" style="margin: 3px 0 0 -22px;"></div>
            <div class="container" id="phplistsubscriberesult" style="width: 680px;"><br><br>
                <div class="row" id="sc-lead-magnet-bg-row">
                    <div class="col-md-7">
                        <br><img id="sc-lead-magnet-img" src="/images/lead-magnet.png">
                    </div>
                    <div class="col-md-5" id="sc-lead-magnet-text-left">
                        <br><h4>{{.Get "title_lead_magnet"}}</h4>
                        <p>Download this guide to review the 11 functions any helpdesk platform you choose should deliver.</p>
                    </div>
                </div><br>
                <form name="myForm" style="width:100%;" id="submit_request_form" enctype="multipart/form-data" onsubmit="return submitClick();">
                    <div class="form-row">
                        <input type='hidden' name='ticket_form_id' value='52434'>
                        <input type='hidden' name='ticket_queue_id' value='147720'>
                        <input type='hidden' name='title' value='11-point Helpdesk checklist download request'>
                        <input type='hidden' id='description' name='description' value='default'>
                        <input type='hidden' name='access_key' value='208c2b77e009a6b96618bbb7cc8599571f081297'>
                        <div class="col">
                            <input type="text" id="id_name" name="user_name" class="form-control" style="height:100%;font-family: Regular, sans-serif;"
                            placeholder="Enter your first and last name" required>
                        </div>
                        <div class="col">
                            <input type="text" id="id_email" name="user_email" class="form-control" style="height:100%;font-family: Regular, sans-serif;"
                            placeholder="Enter your work email" required>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger" type="submit" style="width:100%;font-family: Regular, sans-serif;color:white;">
                            DOWNLOAD&nbsp;NOW</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="new-popup">
        <div class="wrapper">
            <div class="container" id="phplistsubscriberesult" style="width: 680px;"><br><br>
                <div class="row" id="sc-lead-magnet-bg-row">
                    <div class="col-md-7" id="sc-lead-magnet-padding-image">
                        <br><img id="sc-lead-magnet-img" src="/images/lead-magnet.png">
                    </div>
                    <div class="col-md-5" id="sc-lead-magnet-text-left">
                        <br><h4>{{.Get "title_lead_magnet"}}</h4>
                        <p>Download this guide to review the 11 functions any helpdesk platform you choose should deliver.</p>
                    </div>
                </div><br>
                <div class="alert alert-success" role="alert">
                    Congratulations. You will receive an email in few minutes!
                </div>
                <a style="color:white;" class="btn btn-danger" onclick="closePopup()">Close</a>
            </div><br>
        </div>
    </div> -->
</div>
      
<script>

    function showSecondPopup() {
        window.bioEp.hidePopup2();
        window.bioEp.addPopup("new-popup", "new-popup_bg");
        window.bioEp.showPopup();
    }
    function closePopup() {
        window.bioEp.hidePopup();
    }
</script>
<script>
    function submitClick() {
        if (formValidation() == true) {
            event.preventDefault();
            const xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://app.mojohelpdesk.com/api/v2/tickets');
            xhr.setRequestHeader('Content-Type', 'multipart/form-data');
            xhr.onload = function() {
                if (xhr.status != 201) {
                alert('Request failed.  Returned status of ' + xhr.status);
                }
            };
            var name = document.getElementById('id_name').value;
            var email = document.getElementById('id_email').value;
            xhr.send(encodeURI('ticket_form_id=52434&ticket_queue_id=147720&description=' + name + '\n' + email + '&title=11-point Helpdesk checklist download request&access_key=208c2b77e009a6b96618bbb7cc8599571f081297'));
            showSecondPopup();
            return true;
        } else {
            return false;
        }
}
</script> 
<script>
    function formValidation() {

        if (document.myForm.user_name.value == "") {
        alert("Please fill in your Name!");
        return false;
        }

        // Validate length of the Name LastName
        else if ((document.myForm.user_name.value.length) > 50) {
        alert("The name is too long!");
        return false;
        }

        // Validate emails
        else if (!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(myForm.user_email.value)) //Regular expressions to validate email
        {
        alert("Enter Valid Email Address!");
        return false;
        }

        return true;
    }

</script>
      
<script>
    const mouseTarget = document.getElementById('mouseTarget');
    mouseTarget.addEventListener('mouseleave', e => {
        window.bioEp.addPopup("news-signup", "news-signup_bg");
        window.bioEp.showPopup();
    });
</script>

{{ if not (.Page.Scratch.Get "popupLoaded") }}
{{ .Page.Scratch.Set "popupLoaded" true }}
{{$file := resources.Get "js/shortcodes/popup.js"}}
{{ if not .Site.IsServer }}
<!-- Minify on production -->
{{$file := $file | resources.Minify}}
{{end}}
<script defer
  src="{{($file).RelPermalink}}"></script>
{{ end }}