<div class="sc-left-text-right-checklist container-fluid container-lg my-5">
    <div class="row">
        <div class="col-md-5 mb-4" style="text-align:justify;font-size:24px ">
            <!-- <i class=" {{.Get "icon"}} fa-2x mb-4"></i><br /> -->
            <img class="mb-3" src="/features/cyber-secu.png" style="width: 100%;" />
            <p>{{.Get "text"}}</p>
        </div>
        <div class=" offset-md-1 col-md-6">
            <div class="card">
                <div class="card-body bg-light px-5 py-4">
                    <div class="text-center mb-4">
                        <h5>{{.Get "checklist_title"}}</h5>
                    </div>
                    <div class="checklist-items mb-2">
                        {{ if (isset .Params "check1") }}
                        <div class="item">
                            <strong><i class="fas fa-check mr-3 text-success"></i> {{.Get "check1"}}</strong>
                            {{ if (isset .Params "check1_text") }}
                            <br />{{.Get "check1_text"}}
                            {{ end }}
                        </div>
                        {{ end }}

                        {{ if (isset .Params "check2") }}
                        <hr />
                        <div class="item mt-2">
                            <strong><i class="fas fa-check mr-3 text-success"></i> {{.Get "check2"}}</strong>
                            {{ if (isset .Params "check2_text") }}
                            <br />{{.Get "check2_text"}}
                            {{ end }}
                        </div>
                        {{ end }}

                        {{ if (isset .Params "check3") }}
                        <hr />
                        <div class="item mt-2">
                            <strong><i class="fas fa-check mr-3 text-success"></i> {{.Get "check3"}}</strong>
                            {{ if (isset .Params "check3_text") }}
                            <br />{{.Get "check3_text"}}
                            {{ end }}
                        </div>
                        {{ end }}

                        {{ if (isset .Params "check4") }}
                        <hr />
                        <div class="item mt-2">
                            <strong class='d-flex flex-row'><i class="fas fa-check mr-3 text-success"></i>
                                {{.Get "check4"}}</strong>
                            {{ if isset .Params "check4_text" }}
                            <p>{{.Get "check4_text"}}</p>
                            {{ end }}
                        </div>
                        {{ end }}

                        {{ if (isset .Params "check5") }}
                        <hr />
                        <div class="item mt-2">
                            <div><strong><i class="fas fa-check mr-3 text-success"></i>
                                    {{.Get "check5"}}</strong></div>
                            {{ if (isset .Params "check5_text") }}
                            <p>{{.Get "check5_text"}}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>