<div class="sc-left-video-right-title container-fluid container-lg pt-5 pb-5 mb-5">
    <div class="row">
        <div class="col-md-5">
            <div style="margin:0px auto;height:250px;max-width:400px;border: 1px solid #b1b1b1;">
                <span class="wistia_embed wistia_async_{{.Get "wistia_video_id"}} popover=true popoverAnimateThumbnail=true img-fluid" 
                style="display:inline-block;height:250px;width:400px">&nbsp;</span>
            </div>
        </div>

        <!-- DESKTOP -->
        <div class="col-md-7 pt-5 d-none d-md-block">
            <h3 class="font-weight-bold">{{.Get "title"}}</h3>
            <a href="javascript:window.video['{{.Get "wistia_video_id"}}'].play()" class="btn btn-outline-primary btn-lg text-uppercase mt-3">
                <i class="fas fa-play mr-3"></i> {{.Get "button_text"}}
            </a>
        </div>

        <!-- MOBILE -->
        <div class="col-md-7 pt-4 d-block d-md-none text-center">
            <h4 class="font-weight-bold">{{.Get "title"}}</h4>
            <a href="javascript:window.video['{{.Get "wistia_video_id"}}'].play()" class="btn btn-outline-primary btn-lg text-uppercase mt-3">
                <i class="fas fa-play mr-3"></i> {{.Get "button_text"}}
            </a>
        </div>
    </div>
</div>

<script src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
    if (!window.video) window.video = {};
    window._wq = window._wq || [];
    _wq.push({ id: '{{.Get "wistia_video_id"}}', onReady: function(video) {
        window.video['{{.Get "wistia_video_id"}}'] = video;
    }});
</script>