<!-- Shortcode error handling  -->
<!-- Shortcode error handling  -->
<!-- Shortcode error handling  -->
<!-- Shortcode error handling  -->
{{ with .Get "image_url" }}
{{ else }}
{{ errorf "missing value for param 'image_url': %s" .Position }}
{{ end }}

{{ with .Get "image_alt" }}
{{ else }}
{{ errorf "missing value for param 'image_alt': %s" .Position }}
{{ end }}

{{ with .Get "description" }}
{{ else }}
{{ errorf "missing value for param 'description': %s" .Position }}
{{ end }}

{{ $image_url := .Get "image_url" }}
{{ $original := .Page.Resources.GetMatch (printf "*%s*" ($image_url)) }}
{{ .Scratch.Set "image" ($original.Resize "600x") }}
{{ $image := .Scratch.Get "image" }}
<div class="sc-right-img-left-text-with-actions row align-items-center">
    <div class="col-sm-6">
        <div class="tagline text-muted">{{.Get "tagline"}}</div>
        {{ if (isset .Params "bigtitle") }}
        <h1 class="text-capitalize">{{.Get "bigtitle"}}</h1>
        {{ end }}
        {{ if (isset .Params "title") }}
        <h2 class="text-capitalize">{{.Get "title"}}</h2>
        {{ end }}
        <p class="mb-4">{{.Get "description"}}</p>
        <div class="d-flex flex-column flex-md-row actions mb-2">
            <a class="btn btn-lg btn-danger mr-0 mr-md-2 small-text" href="{{.Get "url_action_1"}}">
                {{.Get "label_action_1"}}
            </a>
            {{$label_action_2 := .Get "label_action_2"}}
            {{ with .Get "url_action_2"}}
            <a class="btn btn-lg btn-outline-primary mt-2 mt-md-0 small-text" href="{{.}}">
                {{$label_action_2}}
            </a>
            {{end}}
        </div>
    </div>
    <div class="col-sm-6">
        <img data-src="{{ $image.RelPermalink }}" class="lazy rounded
{{with .Get "no_shadow"}}
{{else}}
shadow
{{end}}
img-fluid" width="{{ $image.Width }}" height="{{ $image.Height }}" alt='{{.Get "image_alt"}}'>
    </div>
</div>