<div class="sc-sign-in">
    <div id="signin-form">
        <p id="signin-text" class="text-left">
            Enter your helpdesk's subdomain.
        </p>

        <div class="input-group mb-3">
            <input type="text" id="signin-input" class="form-control py-4" placeholder="subdomain" aria-label="Helpdesk URL" autofocus>
            <div class="input-group-append" id="signin-input-append">
                <span class="input-group-text px-3 py-2">.mojohelpdesk.com</span>
            </div>
        </div>
        
        <button id="signin-btn" type="button" class="btn btn-primary btn-block py-2">
            Sign in
        </button>

        <div class="text-left mb-2 mt-3">
            <span id="signin-error-msg"></span>
            <span id="signin-redirect-msg"></span>
        </div>

        <div class="text-left mt-5">
            <a href="javascript:sign_in_remind_me()" class="link" id="signin-link-dont-remember">
                <i class="fas fa-caret-right mr-3"></i>Don't remember your helpdesk's subdomain?
            </a>
            <a href="/sign-in" class="link" id="signin-link-remember" style="display:none">
                <i class="fas fa-caret-right mr-3"></i>Remember your helpdesk's subdomain?
            </a>
        </div>
    </div>
    
    <div id="signin-reminder-success" style="display: none;">
        <div class="alert alert-success text-left">
            <i class="fas fa-check-circle mr-1"></i>
            Thanks! We're checking our records and if you have an account you 
            should receive an email within a few minutes. Check your spam folder.
        </div>

        <br/>
        <div class="text-left">
            <a href="/sign-in" class="link">
                <i class="fas fa-caret-right mr-3"></i>Sign in to Mojo Helpdesk
            </a>
        </div>
    </div>
</div>


