<div class="sc-trusted-by-brands">
  {{ if (isset .Params "bigtitle") }}
  <h1 class="text-center mb-6">{{.Get "bigtitle"}}</h1>
  {{ end }}

  {{ if (isset .Params "title") }}
  <h2 class="text-center mb-6">{{.Get "title"}}</h2>
  {{ end }}

  <div class=" swiper-container">
    <div class="swiper-wrapper" style="align-items: center;">
      <div class="swiper-slide trusted-by-image">
        <img class="lazy img-responsive" data-src="/images/shortcodes/trusted-by-brands/harvard.png" alt="Harvard logo"
          style="height: 120px;">
      </div>
      <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/rocketRoute.svg" class="lazy img-responsive"
          alt="Rocket route log" style='width:190px'>
      </div>
      <div class="swiper-slide trusted-by-image">
        <img style="width:130px" data-src="/images/shortcodes/trusted-by-brands/michigan.png"
          alt="Michigan state university Logo" class="lazy img-responsive">
      </div>
      <!-- <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/das-keyboard-black.png"
          alt="Das keyboard Logo"
          class="lazy img-responsive"
          style="width: 200px;">
      </div> -->
      <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/das-keyboard-black.png" alt="Das keyboard Logo"
          class="lazy img-responsive" style="width: 200px;">
      </div>
      <div class="swiper-slide trusted-by-image">
        <img style="width:120px" data-src="/images/shortcodes/trusted-by-brands/abc.svg"
          alt="Associated Builders and Contractors Logo" class="lazy img-responsive">
      </div>

      <div class="swiper-slide trusted-by-image">
        <img class="lazy img-responsive" data-src="/images/shortcodes/trusted-by-brands/dcs.png" alt="DCS logo"
          style="width:140px;">
      </div>

      <div class="swiper-slide trusted-by-image">
        <img class="lazy img-responsive" data-src="/images/shortcodes/trusted-by-brands/LACMA.png" alt="Lacma logo"
          style="width:130px;">
      </div>

      <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/scotts.png" alt="Scotts Logo" class="lazy img-responsive "
          style="width:170px;">
      </div>

      <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/sofistadium.png" alt="Sofi Stadium Logo"
          class="lazy img-responsive " style="width:150px;">
      </div>

      <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/spurs.png" alt="Spurs Logo" class="lazy img-responsive"
          style="width:130px;">
      </div>

      <div class="swiper-slide trusted-by-image">
        <img data-src="/images/shortcodes/trusted-by-brands/texashospital.png" alt="texas children hospital Logo"
          class="lazy img-responsive" style="width:140px;">
      </div>
    </div>
  </div>
</div>